/* Reset inicial */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* por las animaciones, escondo el scrol hacia lateral*/
  overflow-x: hidden;
}

/* ------------------------MODAL BIENVENIDA------ */
#modalBienvenida {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(34, 40, 49, 0.8), black);
  position: fixed;
  display: none;
  z-index: 5;
}
#modalBoxBienvenida {
  height: 530px;
  width: 510px;
  background-color: #eee;
  position: absolute;
  /* regla para centrar */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
}
#modalBoxBienvenida h1 {
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #393e46;
  padding-top: 150px;
}
#modalBoxBienvenida p {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #393e46;
  margin: 32px;
}
#modalBoxBienvenida button {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  border-radius: 50px;
  border: 1px solid #c7b9ae;
  padding: 15px 30px;
  background-color: #c7b9ae;
  color: #eee;
  box-shadow: 4px 6px 14px #cfcfcf;
}
#modalBoxBienvenida button:hover {
  background-color: #222831;
}
/* ------------------------FIN MODAL BIENVENIDA-- */
/* ------------------------HEADER------------ */
#encabezado {
  width: 100%;
  height: 1000px;
  background-color: #eeee;
  background-image: url(../media/heroImageBG.jpg);
  background-size: cover;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #222831;
  position: fixed;
  top: 0;
  transition-property: top;
  transition-duration: 500ms;
  z-index: 1;
}

#logo {
  width: 260px;
  height: 100px;
  background-color: #eeee;
  display: block;
  float: left;
  margin-left: 100px;
}

#menu {
  list-style-type: none;
  width: auto;
  overflow: hidden;
  float: right;
  margin-right: 30px;
}

.elementoMenu {
  float: left;
  margin: 0 20px;
  /* background-color: yellow; */
  line-height: 100px;
}
.elementoMenu > a {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  display: block;
  text-decoration: none;
  color: #eeee;
  /* background-color: green; */
}
.elementoMenu a:hover {
  color: #00adb5;
  transform: scale(1.2, 1.2);
  transition: all 400ms;
}

/* ------------------------SUBMENU------------ */
#submenu {
  width: auto;
  height: auto;
  list-style: none;
  z-index: 1;
  position: absolute;
  top: 100px;
  display: none;
  background-color: #222831;
}

.elementoSubMenu {
  width: 100%;
  height: 40px;
  line-height: 50px;
}
.elementoSubMenu > a {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  text-decoration: none;
  color: #eeee;
  /* background-color: green; */
  padding: 15px;
}
.elementoSubMenu:hover {
  background-color: #393e46;
  color: #eee;
  transition: all 400ms;
}

/* Esta es la regla para que se muestre el submenu */
.elementoMenu:hover #submenu {
  display: block;
}
/* ------------------------fIN sUBMENU------------ */

#tituloEncabezado {
  font-size: 3.8rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  /* background-color: gray; */
  color: #222831;
  padding-left: 270px;
  position: relative;
  top: 455px;
  animation: showTextTitle 6s linear;
}

#subTituloEncabezado {
  width: 970px;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  /* background-color: gray; */
  color: #222831;
  padding-left: 270px;
  position: relative;
  top: 500px;
  animation-name: subTitle;
  animation-duration: 8s;
}
#subTituloEncabezado2 {
  width: 970px;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  /* background-color: gray; */
  color: #222831;
  padding-left: 270px;
  position: relative;
  top: 530px;
  animation-name: subTitle2;
  animation-duration: 8s;
}

/* ------------------------ANIMACIONES------------ */
@keyframes showTextTitle {
  0% {
    transform: translateX(-600%) scale(5, 5);
    opacity: 1;
  }
  50% {
    transform: translateX(600%) scale(5, 5);
    opacity: 1;
  }
  75% {
    transform: translateX(-600%) scale(5, 5);
    text-shadow: none;
    color: transparent;
    opacity: 0;
  }

  100% {
    transform: translateX(0%) scale(1, 1);
    text-shadow: 2px 2px 1px #333333;
    opacity: 1;
  }
}
@keyframes subTitle {
  0% {
    opacity: 0;
    top: 550px;
  }
  50% {
    opacity: 0;
    top: 550px;
  }
  100% {
    opacity: 1;
    top: 500px;
  }
}
@keyframes subTitle2 {
  0% {
    opacity: 0;
    top: 550px;
  }
  50% {
    opacity: 0;
    top: 550px;
  }
  100% {
    opacity: 1;
    top: 530px;
  }
}
/* ---------------------FIN HEADER------------ */

/* ------------------------fILOSOFÍA---------- */
#filosofia {
  width: 100%;
  height: 950px;
  background-color: #f8f8f8;
  overflow: hidden;
}
.tituloSeccion {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  /* background-color: seagreen; */
  text-align: center;
  margin-top: 200px;
}
#contenedorEtiquetas {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  margin-top: 60px;
}
.etiquetaPestana {
  width: 50%;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  float: left;
  text-align: center;
  color: #393e46;
  cursor: pointer;
}
.pestanaActiva {
  color: #00adb5;
}
.contenedorFilo {
  width: 1200px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  /* background-color: silver; */
  overflow: hidden;
}

.colFilo {
  width: 50%;
  height: 500px;
  /* background-color: orange;
  border-style: solid; */
  float: left;
}
.colFilo > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75;
  padding-left: 20px;
}
#videoFilo {
  width: 100%;
  background-color: gray;
  height: 345px;
}

/* ---------------------FIN fILOSOFÍA--------- */

/* --------------------- SERVICIOS--------- */
#servicios {
  width: 100%;
  height: 900px;
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../media/serviciosBG.jpg);
  background-size: cover;
  overflow: hidden;
}
.tituloSeccionBlanco {
  color: #eeee;
  margin-top: 100px;
}
#textoServicios {
  width: 1200px;
  color: #eeee;
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
  /* background-color: gray; */
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75;
}
#contenedorIconos {
  width: 1250px;
  height: 550px;
  /* background-color: green; */
  margin: auto;
  margin-top: 50px;
  overflow: hidden;
}

.iconoservicio {
  width: calc(20% - 50px);
  height: calc(50% - 50px);
  /* background-color: brown; */
  /* border-style: solid; */
  float: left;
  margin: 25px;
  transition: all 300ms;
}
.imgServicio {
  width: 100%;
  height: auto;
  /* background-color: gray; */
}
.imgServicio img {
  width: 100%;
  height: 100%;
}

.iconoservicio .imgServicio:hover img {
  animation: showIcon 300ms linear;
}

@keyframes showIcon {
  from {
    transform: translateX(-80%);
  }
  to {
    transform: translateX(0%);
  }
}

.nombreServicio {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
  color: #eeee;
  margin-top: 3px;
  transition: all 300ms;
}

.iconoservicio:hover .nombreServicio {
  animation: showText 300ms linear;
  color: #00adb5;
  font-size: 1.2rem;
  font-weight: bold;
}

@keyframes showText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
/* ---------------------FIN SERVICIOS--------- */

/* ---------------------CONTACTO--------- */
#contacto {
  width: 100%;
  height: 900px;
  background-color: #fff;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(../media/contactoBG.jpg);
  overflow: hidden;
}
#contenedorContacto {
  width: 1200px;
  height: 375px;
  /* background-color: green; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 95px;
  overflow: hidden;
}
#map {
  float: left;
}
#formu {
  width: 50%;
  height: 375px;
  /* background-color: pink; */
  float: left;
  padding-top: 15px;
  padding-left: 60px;
}
input {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  display: block;
  height: 40px;
  margin-top: 20px;
  width: 500px;
  padding-left: 20px;
}
#comentario {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  height: 90px;
  padding-bottom: 50px;
}
#btnEnviar {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  width: 150px;
  border-style: none;
  background-color: #53ad5d;
  font-size: 1.5rem;
  color: #ffffff;
  padding-left: 33px;
  transition-property: color, background-color, border;
  transition-duration: 600ms;
}
#btnEnviar:hover {
  background-color: #ffffff;
  color: #53ad5d;
  border: 1px solid #53ad5d;
  border-radius: 2px;
}
/* ------------------------MODAL CONTACTO------ */
#modalDatosCliente {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(34, 40, 49, 0.8), black);
  position: fixed;
  top: 0;
  display: none;
  z-index: 5;
}
#modalBoxDatosCliente {
  height: 330px;
  width: 490px;
  background-color: #eee;
  position: absolute;
  /* regla para centrar */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
}
#modalBoxDatosCliente h1 {
  font-size: 2.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #393e46;
  padding-top: 40px;
}
#modalBoxDatosCliente p {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #393e46;
  margin: 32px;
}
#modalBoxDatosCliente button {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  border-radius: 50px;
  border: 1px solid #c7b9ae;
  padding: 15px 30px;
  background-color: #c7b9ae;
  color: #eee;
  box-shadow: 4px 6px 14px #cfcfcf;
}
#modalBoxDatosCliente button:hover {
  background-color: #222831;
}
/* ------------------------FIN MODAL CONTACTO-- */
/* ---------------------FIN CONTACTO--------- */

/* ---------------------PARALLAX--------- */
.containerParallax {
  width: 100%;
  margin: 0 auto;
  /* background-color: #eeee;
  padding: 25px; */
}
.parallax-window {
  min-height: 500px;
  background: transparent;
}

/* ---------------------FIN PARALLAX--------- */

/* --------------------- ACCORDION--------- */
#accordion {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
}
#boletines {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  padding-left: 30px;
  color: #222831;
  margin-bottom: 10px;
}
#accordion button {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  background-color: #eeee;
  color: #222831;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 300ms linear;
}
#accordion button:hover {
  background-color: #00adb5;
}
.accordionContent {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0 30px;
  border: 1px solid #eeee;
  margin-bottom: 5px;
  max-height: 0;
  overflow: hidden;
}
/* ---------------------FIN ACCORDION--------- */

/* ---------------------FOOTER--------- */
#pie {
  width: 100%;
  height: 900px;
  background-color: #222831;
  overflow: hidden;
}
#contenedorGaleria {
  width: 1200px;
  height: 175px;
  /* background-color: lightblue; */
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.filterCategory button {
  padding: 10px 28px;
  color: #00adb5;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  margin-bottom: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(235, 235, 235, 1);
}
.filterCategory button.active {
  background-color: #00adb5;
  color: #eee;
}

.imgGal {
  width: 16.6%;
  height: 100%;
  /* background-color: orange; */
  border: 1px solid #222831;
  float: left;
}
.imgGal:hover {
  transform: scale(1.4, 1.4);
  transition: all 400ms;
  border: 1px solid #00adb5;
  border-radius: 6px;
}

/* ------------------------MODAL LIGHTBOX------ */
#lightBoxGale {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(34, 40, 49, 0.8), black);
  position: fixed;
  display: none;
  top: 0;
  z-index: 5;
}
#imageToSwow {
  height: 654px;
  width: 748px;
  background-color: #eee;
  position: absolute;
  /* regla para centrar */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.imgLightBoxGale {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.lightBoxBtn {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  /* border: 1px solid #eee; */
}
.lightBoxBtn:hover {
  background-color: #00adb5;
}
.lightBoxBtnRight {
  right: 510px;
}
.lightBoxBtnLeft {
  left: 510px;
}
.lightBoxBtn i {
  font-size: 1.3rem;
  color: #222831;
}
.lightBoxBtn:hover i {
  color: #eee;
}
/* ------------------------FIN MODAL LIGHTBOX------ */
#contenedorHorariosRRSS {
  width: 1200px;
  height: 300px;
  /* background-color: gray; */
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 125px;
  overflow: hidden;
}
.contenedortexto {
  width: 33.3%;
  height: 100%;
  /* background-color: brown; */
  float: left;
}
/* ------------------------ TOOLTIP------ */
.contenedortexto ul li {
  position: relative;
  top: 28px;
  left: 190px;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #eee;
  margin: -10px 20px;
  border-radius: 50px;
  transition: 500ms;
  cursor: pointer;
}
.contenedortexto ul li:hover {
  background: #00adb5;
  box-shadow: 0 0 0 4px #333, 0 0 0 6px #00adb5;
}
.contenedortexto ul li .contentTooltip {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  position: absolute;
  bottom: 53px;
  width: 400px;
  background: #eee;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: 500ms;
  transform: translateX(-50%) translateY(-50px);
}
.contenedortexto ul li .contentTooltip h3 {
  margin-bottom: 4px;
}
.contenedortexto ul li:hover .contentTooltip {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
.contenedortexto ul li .contentTooltip:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: #eee;
  bottom: -15px;
  left: 194px;
  transform: rotate(45deg);
}
/* ------------------------ FIN TOOLTIP------ */
.tituloRRSS {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  color: #eeee;
  padding-top: 10px;
}
.textoFooter {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #eeee;
  margin: auto;
  /* background-color: gray; */
  margin-top: 25px;
  padding-right: 25px;
}
.imgRRSS {
  width: 65px;
  height: 65px;
  /* background-color: #eeee; */
  float: right;
  margin: 3px;
}
.imgRRSS i {
  line-height: 100px;
  color: #eeee;
  font-size: 3.5rem;
  margin-top: -17px;
}
#contenedorImgRRSS i:hover {
  color: #00adb5;
}
/* ---------------------FIN FOOTER--------- */
